/* Body styles */

.content {
  height: 65vh;
  width: 50vw;
  background-color: #66d195;
  margin: 5%;
  text-align: center;
  border-radius: 5%;
}

.london {
  background: url("../public/assets/london.jpg");
  background-size: cover
}

.singapore {
  background: url("../public/assets/singapore.jpg");
  background-size: cover
}

.toronto {
  background: url("../public/assets/toronto.jpg");
  background-size: cover;
}

.emoji {
  height: 40%;
  width: 30%;
  opacity: 1;
}

.empty-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Modal style */

.modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 45vh;
  width: 65vh;
  background-color: #1f2222;
  position: absolute;
  z-index: 5;
  border: solid 0.5vh #39fe90;
  animation: MakeModalPop ease-out 0.5s;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal>h1 {
  text-align: center;
  font-size: 2vw;
  color: #39fe90;
}

/* Form style */

form {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form>.first-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form>.second-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-button {
  margin-top: 15%;
  height: 8%;
  width: 50%;
  font-size: 1vw;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8vw;
  border: 0.1vw solid silver;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .disabled-button {
  background-color: grey;
  color: black;
}

form .enabled-button {
  background-color: #39fe90;
  color: black;
  cursor: pointer;
}

label {
  font-weight: 500;
  font-style: bold;
  font-size: 1vw;
  color: #39fe90;
}

input {
  color: black;
  font-size: 1vw;
  border-width: 0;
  outline: none;
  background-color: white;
}

.input-style {
  color: black;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}

/* Language buttons style */

.language-buttons-container {
  margin-top: 4%;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.language-button:hover {
  background-color: #39fe90;
  color: black;
}

.language-button {
  background-color: #1a1a1a;
  border: 0.1vw solid silver;
  border-radius: 15%;
  padding: 0.6em 1.2em;
  margin-right: 2vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: inherit;
  color: white;
  cursor: pointer;
}

.highlighted-button {
  background-color: #39fe90;
  color: black;
}

/* Sidebar styles */

.sidebar {
  top: 0;
  border-radius: 1%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: fixed;
  background-color: #39fe90;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.sidebar>Button {
  color: black;
  font-weight: 500;
  font-size: 3.5vh;
  text-align: center;
  border-radius: 1%;
  padding: 25% 0;
  cursor: pointer;
  background-color: #39fe90;
  border: 0;
}

.sidebar>Button:hover {
  background-color: #27b164;
}

.sidebar>h1 {
  font-size: 4vh;
}

.sidebar>p {
  color: black;
  font-weight: 500;
  font-size: 2vh;
  text-align: center;
}

.sidebar a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.first-time {
  margin-right: 115%
}

.visible {
  margin-right: 115%;
  animation: ShowSidebarAnimation forwards 0.5s;
}

.not-visible {
  margin-right: 115%;
  animation: HideSidebarAnimation forwards 0.5s;
}

.toggle-sidebar {
  width: 30%;
  height: 10%;
  background-color: #39fe90;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 45%;
  margin-left: 100%;
  position: absolute;
}

.toggle-sidebar>h1 {
  cursor: pointer;
  font-size: 4vh;
  height: 80%;
}

.show {
  animation: MakeSidebarEyeCatching infinite 1s alternate;
  margin-top: 50%;
  margin-right: 15%;
}

.hide {
  margin-top: 50%;
  margin-right: 15%;
}

/* Weather widget style */

WeatherReport>.London {
  background-color: black
}

.weather-widget {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-widget>.first-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weather-widget>.second-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location-date {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid #1f2222;
  border-left-color: #1f2222;
  border-left-width: 0;
  border-top-width: 0;
  border-right-color: #1f2222;
  border-bottom-right-radius: 10%;
  border-bottom-width: 2%;
  font-size: 1vw;
}

.date {
  font-size: 1vw;
}

.server-error,
.client-error {
  height: 65vh;
  width: 50vw;
  background-color: #45d09d !important;
  text-align: center;
  border-radius: 5%;
}

.server-error img,
.client-error img {
  height: 50%;
  width: 50%;
}

/* Weather cards style */

.weather-card,
.mini-weather-card {
  border: 0.1vw solid black;
  border-radius: 8%;
  border-top-right-radius: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.weather-card {
  border-top-width: 0;
  border-right-width: 2%;
  border-bottom-width: 2%;
  border-bottom-right-radius: 0;
}

.weather-card>.first-row,
.weather-card>.second-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weather-card .second-row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  justify-content: space-around;
}

.weather-card img {
  height: 100%;
  max-width: 50%;
}

.weather-card>.second-row img {
  height: 6vh;
  width: 7vh;
}

.weather-card>.first-row>h1 {
  font-size: 7vh;
}

.weather-card>.second-row span {
  font-size: 1vw;
}

.weather-card .rain-prob,
.wind-speed,
.humidity {
  height: 100%;
  width: 100%;
  border: 0.1vw solid #1f2222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex;
}


.humidity {
  border-radius: 0;
}

.rain-prob {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 0;
}

.wind-speed {
  border-right-width: 0;
}


/* Mini weather cards style */

.mini-weather-card {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mini-weather-card h1 {
  font-size: 1vw;
}

.mini-weather-card>.first-row {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.mini-weather-card>.second-row {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  font-size: 1vw;
}

.mini-weather-card>.first-row img {
  height: 100%;
  width: 80%;
}

.mini-weather-card>.second-row img {
  height: 100%;
  width: 60%;
}

.first-mini-card {
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.last-mini-card {
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.rain-prob,
.temperature {
  display: flex;
  flex-direction: column;
}

.rain-prob span,
.temperature span {
  font-weight: 500;
  margin-right: auto;
  margin-left: auto;
}

/* Animations for the sidebar */

@keyframes ShowSidebarAnimation {
  0% {
    margin-right: 115%;
  }

  100% {
    margin-right: 85%;
  }
}

@keyframes HideSidebarAnimation {
  0% {
    margin-right: 85%;
  }

  100% {
    margin-right: 115%;
  }
}

@keyframes MakeSidebarEyeCatching {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

/* Animations for modal */

@keyframes MakeModalPop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}