.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: black
}

.content {
  height: 500px;
  width: 750px;
  background-color: #f5fffa;
  margin: 5%;
  text-align: center;
}

.language-buttons-container {
  margin-top: 4%;
  width: fit-content;
  display: flex;
  margin-left: auto;
}

.language-button:hover {
  background-color: #39fe90;
  color: black;
}

.language-button {
  border-radius: 8px;
  border: 1px solid silver;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin-right: 30px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}